<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target xsi:type="NlogViewer" name="ctrl" />
    <target xsi:type="ColoredConsole" name="console"  layout="${longdate:format=HH:mm:ss.ffffff}|${logger}|${level:uppercase=true}|${message} ${exception:format=tostring}" />
    <target xsi:type="File"
            name="file"
            encoding="utf-8"
            fileName="${basedir}/Log/${processName}.log"
            layout="${longdate:format=yyyy-MM-dd HH:mm:ss.ffffff}|${logger}|${level:uppercase=true}|${processid}|${threadid}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/Log/${processName}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="ctrl" />
  </rules>
</nlog>